<% include partials/header %>

<div class="container">
    <h1>This is the secret page!!!</h1>
    
    <p>You found me</p>
    
    <img src="https://s-media-cache-ak0.pinimg.com/736x/97/a7/e8/97a7e8821d21faa7ba9f2738739f173c.jpg"></img>
    
    <li><a href="/register">Sign up to see the secret!</a></li>
    <li><a href="/login">Login to see the secret!</a></li>
    <li><a href="/logout">Logout</a></li>

</div>


<% include partials/footer %>